<!doctype html>
<html>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
   <h2> Displaying champion pool for summoner <font color = "blue">{{ summonerName }} </font> 
      <font id = "playerID"> (summonerID {{ champData[0][0] }}) </font>
   </h2> 
   <body>
      <table id = "player_games_table" border=0>
         <tr>
               <td> ChampionID </td>
               <td> Name </td>
               <td> Level </td>
               <td> Points </td>
         </tr>
         {% for champ in champData %}
            <tr>
               <td> {{ champ[1] }} </td>
               <td> {{ champ[2] }} </td>
               <td> {{ champ[3] }} </td>
               <td> {{ champ[4] }} </td>
            </tr>
         {% endfor %}
      </table>
      
   </body>
   
    <!-- Bottom Menu -->
   <div>
      <div class = "inner"><form action="{{ url_for('index') }}" method="get">
         <button id='returnMenuButton' type="submit">Search for another player</button>
      </form></div>
      <div class = "inner"><form action="{{ url_for('player', summonerName=summonerName) }}" method="get">
         <button id='switchModeButton' type="submit">Recent games for {{summonerName}}</button>
      </form></div>
      <div class = "inner"><form action="{{ url_for('champPool', summonerName=summonerName) }}" method="get">
         <button id='switchModeButton' type="submit">Champion pool for {{summonerName}}</button>
      </form></div>
      <div class = "inner"><form action="{{ url_for('recommendChamps', summonerName=summonerName) }}" method="get">
         <button id='switchModeButton' type="submit">Recommend champions for {{summonerName}}</button>
      </form></div>
      <div class = "inner"><form action="{{ url_for('recommendBuild', summonerName=summonerName) }}" method="get">
         <button id='switchModeButton' type="submit">Recommend build for {{summonerName}}</button>
      </form></div>
   </div>
</html>